@mixin typeBtnFontStyle($color, $bgcolor) {
    color: $color;
    background-color: $bgcolor;
}

@mixin cardStyle($color, $bg) {
    color: $color;
    background: $bg;
}

path {
    transition: fill .4s ease;
}

header {
    .nav-pills .nav-link.active, .nav-pills .nav-link:focus, .nav-pills .show>.nav-link {
        @include typeBtnFontStyle($second-color, $first-color)
    }

    .nav-link {
        color: $second-color;
    }

    .nav-link:hover {
        @include typeBtnFontStyle($first-color, $second-color)
    }
}

main {
    .bd-placeholder-img {
        font-size: 3.5rem;
        text-anchor: middle;
    }

    #groups-carousel {
        .carousel-item {
            rect {
                fill: rgba($second-color, 0.4);
            }

            text {
                fill: $first-color;
                font-size: 3.5rem;
            }

            @media (max-width: 575.98px) {
                text {
                    font-size: 2rem;
                }
            }
        }
    }

    .featurette {
        margin: 5rem 0;
    }

    @media (max-width: 575.98px) {
        .featurette:first-child {
            margin: 3rem;
            text-align: center;
        }
    }

    .section-title {
        margin: 8rem;
        text-align: center;
    }

    .card {
        border-radius: 15px;
        text-align: center;
        width: 25rem;

        img {
            margin: 25px auto;
            max-width: 12rem;
        }

        .card-body {
            padding: 2rem;

            a.btn {
                font-weight: bold;
            }
        }

    }

    #bootstrap-card {
        @include cardStyle($third-color, $bootstrap-color);

        svg {
            margin: 2rem auto 0 auto;
            max-width: 12rem;

            path {
                fill: $third-color;
            }
        }

        .card-body {
            
            a.btn {
                background: $third-color;
                border: none;
                color: $bootstrap-color;
            }
        }
    }

    #sass-card {
        @include cardStyle($third-color, $sass-color);

        svg {
            margin: 2rem auto 0 auto;
            max-height: 8rem;
            max-width: 12rem;

            path {
                fill: $third-color;
            }
        }

        .card-body {
            
            a.btn {
                background: $third-color;
                border: none;
                color: $sass-color;
            }
        }
    }

    .accordion {
        .accordion-button {
            @include typeBtnFontStyle($first-color, $second-color);

            &:after {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FEE97E'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            }

            .collapsed {
                background: red;
            }

            &:not(.collapsed) {
                @include typeBtnFontStyle($second-color, $first-color);

                &:after {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                }
            }

            &:focus {
                border-color: transparent;
                box-shadow: none;
            }

        }
    }
}

footer {
    #brand {
        text-align: center;

        .text-muted {
            color: rgba($third-color, 0.6) !important;
    
            span {
                span {
                    display: inline-block;
                }
            }
        }
    }

    li {
        path {
            fill: $first-color;
        }

        &:hover path {
            fill: $third-color;
        }
    }
}