html {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

header {
    padding: 1.5rem 0 1rem 0;
}

footer {
    margin-top: 10rem;
    img {
        margin: 0.5rem;
    }
}

// portrait phones
@media (max-width: 575.98px) {
    footer {
        padding: 1.5rem 0;

        ul {
            padding: 1.5rem 0 0 0;
        }
    }
}

#linkedin-container {
    margin: 6rem auto;

    h1 {
        margin-bottom: 3rem;
    }

    .accordion-body ul {
        li {
            margin: 1rem;

            a {
                color: $second-color;
                padding: 0.3rem 0.5rem 0.5rem 0.5rem;
                text-decoration: none;

                &:hover {
                    background: $first-color;
                    border-radius: 8px;
                }
            }
        }
    }
}